h1,h2{
    font-family: "teko", sans-serif;
  font-weight: 480;
  font-size: xx-large;
}

p{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: xx-large;
}

span{
    font-family: "poppins", sans-serif;
    font-weight: 400;
}